<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {titulo: "Login"}) %> 
<body>
    <%- include("../partials/header") %> 
    <main class="main-Login">
        <section class="formLogin">
            <div class="saludo">
                    <a href="#">
                        <i class="fas fa-user-circle"></i> 
                    </a>
                    <h2>¡Bienvenido/a!</h2>
            </div>
            <div>
            <form action="/login" method="post">
                
                <div>
                    <h3> <label for="usuario">Usuario</label> </h3>
                    <input type="email" name="usuario" id="usuario" placeholder="Ingrese su email" required>
                </div>

                <div>
                    <h3> <label for="contraseña">Contraseña</label> </h3>
                    <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña" required>
                </div>

                <div class="texto">
                    <label for="recordarme">
                        <input type="checkbox" name="recordarme" id="recordarme" selected>
                            Recordarme</label>
                </div>
                
                <div class="send"> <button type="submit" class="buttonLogin">Ingresar</button>  
                </div>

                <div class="contraseña">
                <a href="#">¿Olvidaste tu contraseña? </a>
                </div>
                <div class="registrate">
                    <a href="/register">¿Sos nuevo usuario? Registrate</a>
                </div>
                <div class="ingresoA">
                <a href="/">Ingresá con Google
                    <img src="/images/google.svg" alt="" class="googleLogo">
                </a>
               
                </div>
                <div class="ingresoB">
                <a  href="/">Ingresá con Facebook
                    <img src="/images/facebook.svg" alt="" class="facebookLogo">
                </a>
                
                </div>

            </form>
        </div>
        </section>
    </main>
    <%- include("../partials/footer") %> 
    
</body>
</html>